/* About Us section container */
.about-us {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8rem;
  gap: 2rem; /* Creates space between text and globe */
  height: 100vh; /* Full viewport height */
  background-color: #000000; /* Optional background */
}

/* About Us text */
.about-us-text-container {
  flex: 1; /* Take up available space */
  max-width: 50%; /* Limit the width */
  text-align: left; /* Align text to the left */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2.5rem;
}

/* Headline styling */
.about-us-headline, .about-us-head-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #ffffff;
}
.about-us-head-title {
  font-size: 2.5rem;
  color: #3D84E2;
}

/* Description styling */
.about-us-description {
  font-size: 1.02rem;
  color: #ffffff;
  line-height: 1.8;
  text-align: justify;
}

/* Globe container */
#globeViz {
  flex: 1; /* Take up available space */
  max-width: 100%; /* Limit the width */
  height: 100%; /* Height of the globe */
  background-color: #fff; /* Optional background color */
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Add a slight shadow around the globe */
}
.about-us-3d-model {
  height: 60vh;
  width: 40vw;
  cursor: grab;
}

.world-clock {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-self: flex-start;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
  .about-us {
    flex-direction: column; /* Stack text and globe vertically */
    padding: 4rem 2rem; /* Adjust padding for smaller screens */
    text-align: center;
  }

  .about-us-text-container {
    max-width: 100%;
    margin-bottom: 2rem; /* Space between text and globe */
  }

  #globeViz {
    max-width: 100%;
    height: 40vh; /* Reduce the globe height on mobile */
  }

  .about-us-3d-model {
    width: 80vw; /* Adjust globe width for mobile */
    height: 40vh; /* Adjust height for better mobile fit */
  }

  .about-us-head-title {
    font-size: 2rem; /* Slightly reduce font size for mobile */
  }

  .about-us-description {
    font-size: 1rem; /* Adjust text size for better readability */
  }

  .world-clock {
    justify-content: center; /* Center clocks on mobile */
    gap: 10px; /* Reduce space between clocks */
  }
}
