.lamp-light-bar{
  margin-top: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lamp-container-1{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.explore-button {
  margin-top: 2rem;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  color: #fff;
  background-color: rgb(0, 0, 0);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 1.5px 5px rgba(0, 0, 0, 0.548);
  transition: background-color 0.3s, transform 0.2s;
  width: 3vh;
  height: 5vh;
}

.explore-button:hover {
  transform: scale(1.5);
}