.lamp-light-bar{
  margin-top: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lamp-container-1{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.explore-button {
  margin-top: 2rem;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  color: #fff;
  background-color: #3d84e2;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 1.5px 5px rgba(0, 0, 0, 0.548);
  transition: background-color 0.3s, transform 0.2s;
}

.explore-button:hover {
  color: white;
  box-shadow: 0px 2px 10px rgba(52, 52, 52, 0.548);
  background-color: #0a52e0;
  transform: scale(1.05);
}